global
    maxconn 50000

defaults
    mode http
    timeout connect 10s
    timeout server 10s
    timeout client 10s

frontend http
    bind *:80
    default_backend backendServer

backend backendServer
    server mintlify host.docker.internal:3001
