name: Check
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check
        run: |
          npm install
          npm run links
